
<ng-template class="border-success" #content>

    <div class="modal-header bg-secondary">
        <h5 class="modal-title" id="modal-basic-title">About</h5>
        <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()" >&times;</button>
    </div>

    <div class="modal-body text-center">
        <h2 style="color: black">Budget Manager</h2>
        <div class="px-4">
            <hr>
        </div>
        <p class="text-sm" style="color: #000;"> A simple a budget manager web application to calculate
            income and expense. </p>
        <p class="text-sm" style="color: #000;">It's an open source project developed for learning purpose.</p>
    </div>

    <div class="modal-footer justify-content-center">
        <a href="https://www.github.com/Ravi879/BudgetManager" class="btn btn-primary" target="_blank">Looking
            for source code &nbsp;&nbsp; <i class="fa fa-github"></i></a>
    </div>

</ng-template>

<button class="btn btn-outline-secondary text-white  about-btn" (click)="open(content)">
    About
</button>
